---
import Header from "../components/Header.astro";
import LeftMenu from "../components/LeftMenu.astro";
import Layout from "../layouts/Layout.astro";
import articles from "../articles.json";
import ArticleCard from "../components/ArticleCard.astro";
function arrayRandElement(massive: typeof articles) {
  let rand = Math.floor(Math.random() * massive.length);
  return massive[rand];
}
const rand = arrayRandElement(articles);

function sortFunction(a, b) {
  var dateA = new Date(a.date).getTime();
  var dateB = new Date(b.date).getTime();
  return dateA > dateB ? -1 : 1;
}

function lastArticles(massive: typeof articles) {
  let sorted = massive.sort(sortFunction);
  return sorted.slice(0, 5);
}
---

<Layout title="Главная">
  <Header />
  <main>
    <LeftMenu />
    <div class="content">
      <h1>Главная</h1>
      <p>
        Многие ведь любят грибы,верно? Например, приготовленные в пицце или
        вот-вот снятые с огня... Ну разве не объядение! <br /> Мы - команда студентов,
        которые решили взяться за непростое дело: привлечь внимание к грибам, которые,
        на наш взгляд, неодооценены обществом. Для реализации нашей цели мы разработали
        приложение Fungi, которое позволит проводить время активно и весело, так
        приложение пуляризует такой, а также приятное времяпрепровождение. Ко всему
        прочему, Fungi позволяет разнообразить свой рацион питания новыми блюдами.
        Теперь вам не придется ходить часами по лесу, не зная какой гриб сорвать...
        В этом вам поможет Fungi: большая библиотека грибов, насчитывающая более
        40 видов, разные факты о полезности и вреде популярных видов, которые мы
        чаще всего употребляем в пищу. <br /> Данный сервис доступен для каждого,
        кому хоть немного нравятся грибочки! Поверьте, вас ждет множество интересных
        рубрик: интервью, интерактивы и многое другое! Так что присоединяйтесь в
        нашу большую грибную семью!)
      </p>
      <h2>Случайная статья</h2>
      <div>
        <ArticleCard
          id={rand.id}
          name={rand.name}
          date={new Date(rand.date)}
          author={rand.author}
        />
      </div>
      <h2>Новые статьи</h2>
      {
        lastArticles(articles).map((articlee) => (
          <ArticleCard
            id={articlee.id}
            name={articlee.name}
            date={new Date(articlee.date)}
            author={articlee.author}
          />
        ))
      }
    </div>
  </main>
</Layout>
<style>
  main {
    display: flex;
    gap: 50px;
  }
  .content {
    width: 100%;
    flex-shrink: 1;
  }
  h1,
  h2 {
    border-bottom: 1px solid #a2a9b1;
    margin: 0;
    font-family: "Linux Libertine", "Georgia", "Times", serif;
  }
</style>
