---
export type Props = {
  id: string;
  name: string;
  date: Date;
  author: string;
};

const { id, name, date, author } = Astro.props;
const addZero = (n) => (n < 10 ? `0${n}` : n);
---

<div class="Article">
  <h2><a href={`/${id}`}>{name}</a></h2>
  <div class="Article_wrapper">
    <div class="Article_author">Автор: {author}</div>
    <div class="Article_date">
      Время публикации:
      {addZero(date.getDate())}.{addZero(date.getMonth() + 1)}.{
        date.getFullYear()
      }г. в {date.getHours()}:{addZero(date.getMinutes())}
    </div>
  </div>
</div>

<style>
  .Article {
    display: flex;
    border-bottom: 1px solid #a2a9b1;
    padding: 20px 0;
    gap: 10px;
    justify-content: space-between;
  }

  .Article:last-child {
    border-bottom: none;
  }

  h2 {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #3366cc;
  }

  a:hover {
    text-decoration: underline;
  }

  .Article_wrapper {
  }
</style>
