---
import { type Family } from "@fungi/db";

export type Props = {
  id: number;
  name: string;
  latinName: string;
  image: string;
  eatable: "NOT_EATABLE" | "PARTIALLY_EATABLE" | "EATABLE";
  readbook: boolean;
  description: string;
  family: Family;
};
---

<a href={`/m/${Astro.props.id}`} class="MushroomCard">
  <div class="header">
    <div class="family">
      {Astro.props.family.name} ({Astro.props.family.latinName})
    </div>
    <div class="title">{Astro.props.name}</div>
    <div class="latinName">{Astro.props.latinName}</div>
  </div>
  <img src={Astro.props.image} />
</a>

<style>
  @import "@fontsource-variable/raleway";

  .MushroomCard {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    background: #ffe8c5;
    border-radius: 22px;
    overflow: hidden;
    text-decoration: none;
    transform: scale(1);
    transition: transform 150ms ease;
  }

  .MushroomCard:hover {
    transform: scale(0.97);
  }

  .header {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }

  .family {
    font-weight: 800;
    font-size: 10px;
    text-align: center;
    color: #653d00;
  }

  .title {
    margin: 8px 0;
    font-weight: 700;
    text-align: center;
    color: #000000;
  }

  .latinName {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #b38550;
  }

  img {
    object-fit: cover;
    width: 200px;
    height: 150px;
    display: block;
  }

  .Article_wrapper {
  }
</style>
