---
import MushroomCard from "./MushroomCard.astro";
import { trpc } from "../lib/trpc";
const mushrooms = await trpc.mushrooms.getPaginated.query({page:0, perPage:1000});
console.log(mushrooms);
---

<!-- <div>
  {
    mushrooms.map((mushroom) => (
      <MushroomCard
        name={mushroom.name}
        latinName={mushroom.latinName}
        image={mushroom.image}
        readbook={mushroom.readbook}
        eatable={mushroom.eatable}
        description={mushroom.description}
      />
    ))
  }
</div> -->
<div>
  {
    await Promise.all(
      mushrooms.map(async (mushroom) => (
        <MushroomCard
         id={mushroom.id}
          image={""}
          name={mushroom.name}
          latinName={mushroom.latinName}
          readbook={mushroom.redBooked}
          eatable={mushroom.eatable}
          description={mushroom.description}
        />
      ))
    )
  }
</div>
