---
import MushroomCard from "./MushroomCard.astro";
import { trpc } from "../lib/trpc";
import { loadImage } from "../lib/image";
const mushrooms = await trpc.mushrooms.getPaginated.query({
  page: 0,
  perPage: 1000,
});
console.log(mushrooms);
---

<!-- <div>
  {
    mushrooms.map((mushroom) => (
      <MushroomCard
        name={mushroom.name}
        latinName={mushroom.latinName}
        image={mushroom.image}
        readbook={mushroom.readbook}
        eatable={mushroom.eatable}
        description={mushroom.description}
      />
    ))
  }
</div> -->
<div class="wrapper">
  {
    await Promise.all(
      mushrooms.map(async (mushroom) => (
        <MushroomCard
          id={mushroom.id}
          image={loadImage(mushroom.images[0])}
          name={mushroom.name}
          latinName={mushroom.latinName}
          readbook={mushroom.redBooked}
          eatable={mushroom.eatable}
          description={mushroom.description}
          family={mushroom.family}
        />
      ))
    )
  }
</div>

<style>
  .wrapper {
    display: grid;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* align-items: center; */
    justify-items: center;
  }
</style>
